.map{
    display: grid;
    width: 1110px;
    margin: auto;
    grid-template-columns: 301px 445px 180px;
    column-gap: 30px;
    justify-content: space-between;
    align-items: center;
    row-gap: 122px;
    margin-bottom: 120px;
}

.map_image{
    grid-column: 1/4;
    grid-row: 1/2;    
    content: url('./images/world-map-desktop.png');
    width: 1110px;
    object-fit: contain;
}

.map_title{
    width: 301px;
    grid-column: 1/2;
    grid-row: 2/3;
    color: #495567;
    font-family: var(--font-mono);
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2.143px;
}

.map_desc{
    color: #939CAA;
    font-family: var(--font-deca);
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
}

.map_button{
    width: 180px;
    height: 53px;
    flex-shrink: 0;
    border: none;
    background-color: #FCB72B;
    color: #FFF;
    text-align: center;
    font-family: var(--font-mono);
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 166.667% */
    cursor: pointer;
    border: 3px solid transparent;
}

.map_button:hover{
    border: 3px solid #FCB72B;
    background-color: white;
    color: #FCB72B;
}

.map_cities{
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 40px;
}

.map_cities div {
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(252, 183, 43, 0.15);
    color: #495567;
    text-align: center;
    font-family: var(--font-mono);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 116.667% */
    letter-spacing: -1.071px;
}


@media(max-width: 1150px){
    .map{
        width: 90%;
        grid-template-columns: 301px 1fr 180px;
        align-items: start;
    }
    .map_image{
        width: 100%;
    }
}

/* tablet */
@media(max-width: 850px){
    .map{
        grid-template-columns: 100%;
        gap: 40px;
    }

    .map_image{
        grid-column: 1/2;
        content: url('./images/world-map-tablet.png');
        margin-bottom: 24px;
    }

    .map_title{
        width: 90%;
        justify-self: center;
        text-align: center;
    }

    .map_desc{
        text-align: center;    
    }

    .map_button{
        justify-self: center;
    }
}

@media(max-width: 600px){
    .map{
        gap: 32px;
        margin-bottom: 72px;
    }

    .map_image{
        content: url('./images/world-map-mobile.png');
        margin-bottom: 8px;
    }

    .map_title{
        grid-row: 3/4;
        font-size: 32px;
        line-height: 32px; /* 100% */
        letter-spacing: -1.429px;
    }
}